.estilo_redundancia{
	padding: 43px;
	padding-bottom: 3%;
	padding-left: 9%;
	padding-right: 9%;
}

#sobre{
  background-color: white;
  box-shadow: 5px 5px 20px #888888;
  text-align: center;
   height: 100%;
}

#post h3{
	font-size: 4em;
}

#equipe{
	background-image: url("../img/missao_img.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	height: 339px;
	text-align: center;
	opacity: 0.8;
}

#clientes{
  background-color: white;
   height: 100%;
  text-align: center;
}

#clientes .sites{
	font-size: 1em;
}

#clientes .sites img{
	width: 50%;
	border: 6px solid;
	border-radius: 29px;
}

#clientes .sites img:hover{
	opacity: 0.8;
}

#clientes .sites .titulo{
  background-color: rgb(243, 243, 243);
  font-size: 3em;
  border-radius: 26px;
  width: 76%;
  margin-left: 13%;
}

#servicos{
	background-color: #88CEE8;
	height: 400px;
	text-align: center;
}
.servico1{
	float: left;
	width: 30%;
	height: 0 auto;
}
.servico2{
	float: right;
	width: 30%;
	height: 0 auto;
}

#contato{
	border-bottom: 1px solid #1A1E22;
	background-color: #E88469;
	height: 100%;
	text-align: center;
}
