@media screen and (max-width: 608px) {
	/*.partgeral{		
		position: relative;
		left: 50%;
		margin-left: -80px;
		width: 160px;
	}
	.part1{
		float: none !important;
		margin-left: 0% !important;		
		width: 160px !important;
		margin-bottom: 2%;
	}
	.part2{
		float: none !important;
		margin-left: 0% !important;
		width: 160px !important;
		margin-bottom: 2%;
	}
	.part3{
		float: none !important;
		margin-left: 0% !important;
		width: 160px !important;
	}
	*/
	#equipe{
		padding-top: 4% !important;
		padding-bottom: 4% !important;
		padding-left: 0% !important;
		padding-right: 0% !important;

	}
}
.estilo_redundancia{
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 9%;
  padding-right: 9%;
}

#sobre{
	color: #7D56A3;	
	position:relative;
	overflow:hidden;
	-moz-box-shadow: 5px 5px 20px #888888;
	-webkit-box-shadow: 5px 5px 20px #888888;
	-box-shadow: 5px 5px 20px #888888;
	text-align: center;
}

.panelsobre{
	overflow: hidden;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 16px;  
  padding: 6% 10% 10% 10%;
}
#sobre img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.8;
}
.alien{
	margin: 10px;
}
.alien p{
	font-size: 25px;
}
.p1{
	float:left;
	width: 30%;
}
.p1 p,.p2 p{
	font-size:20px;
	text-align: center;
}
.p2{
	float: right;
	width: 30%;
}
/*#post h1{ dando conflito de tamanho
	font-size: 4em;
}*/

#post h2{
	font-size: 3em;
	margin-top: 0px;
}

/*EQUIPE lisajesjejeuij*/

#equipe{
	text-align: center;
	background-color: #7D56A3;
	opacity: 0.8;
	overflow-y: hidden;
}



.dodeca, .dodeca div {
  	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	overflow: hidden;
	width: 160px;
	height: 160px;
}
.dodeca {
  	-moz-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg);
}
.dode1 {
  	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
}
.dode2 {
  	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
}
.dode2 img{
	margin: -40px 10px 10px -75px;
	height: 0 auto;
	width: 250px;
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	opacity: 0.9;
	transform: scale(0.9);
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	filter: grayscale(0.1);
	-moz-filter: grayscale(0.1);
	-webkit-filter: grayscale(0.1);
	filter: brightness(1.5);
	-moz-filter: brightness(1.5);
	-webkit-filter: brightness(1.5);
}
.dode2 img:hover{
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	opacity: 1;
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	filter: grayscale(0);
	-moz-filter: grayscale(0);
	-webkit-filter: grayscale(0);
	filter: brightness(1);
	-moz-filter: brightness(1);
	-webkit-filter: brightness(1);
	
}

.partgeral {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 1em;
}

/*.partgeral {	
	width: 0 auto;
  	padding: 0px 0px 0px;
	
}
.partimg{
	width: 160px;
	margin-left: 0;
}
.part1{
	float: left;
	width: 25%;
}
.part1 img{
	margin-left: -15px;
	margin-top: -5px;
}
.part2 {
	float: left;
	width: 25%;
	margin-left: 12.5%;
}
.part3 {
	float:right;
	width: 25%;
	margin-left: 5%;
}
*/
.icon p{
	text-align: center;
}
.icon img{
	background: no-repeat;
	width: 20%;
	
}

/* Fim da equipe*/


div.clear { clear: both; }

#clientes{
  background-color: white;
   height: 100%;
  text-align: center;
}

#clientes #imagens{
  width: 58%;
  font-size: 1em;
  margin-left: 21%;
 }

#servicos{
	background-color: #7D56A3;
	text-align: center;
	position: relative;
	overflow: hidden;
}
#servicos {
	color: white;
}
.servico1{
	float: left;
	width: 45%;
	height: 0 auto;
	margin-bottom: 40px;
}
.servico2{
	float: right;
	width: 45%;
	height: 0 auto;
	margin-bottom: 40px;
}
#botao1{
	
}
#botao1, #botao2{
	border-radius: 5px;
	padding: 3%;
	background: #59C755;
}

#botao1:hover, #botao2:hover{
	background: #67E863;
	color: black;
}
#botao1 p a, #botao2 p a{
	text-decoration: none;
	color: black;

}
#botao2{

}
#escada {
	margin-top: 42%;
	width: 80%;
	position: absolute;
	bottom: 10px;
}
#escada #botao3{
	position: relative;
	float: left;
	margin-left: 2.1%;
}
#escada #botao4{
	position: relative;
	float: right;
	margin-right: 0%;
}
#escada #botao3, #botao4{
	width: 41%;
	border-radius: 5px;
	text-align: center;
	background: #59C755;
	font-size: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
#botao3:hover, #botao4:hover{
	background: #67E863;
	color: black;
}
#botao3 p a, #botao4 p a{
	text-decoration: none;
	color: black;

}

#contato{
	border-bottom: 1px solid #1A1E22;
	background-color: #E88469;
	height: 100%;
	text-align: center;
}

#contato form{
  text-align: left;
  margin-left: 12%;
  font-size: 1.3em;
}

#contato form input, textarea{
	border-radius: 9px;
	color: rgb(82, 82, 82);
	font-weight: bold;
	font-size: 0.8em;
	font-family: inherit;
	padding-left: 2%;
	border-color: rgba(255, 255, 255, 0);
	margin-bottom: 3%;
}

#contato form input:hover{
	background-color: #F4F4F4;
}

.botaoformulario{
	background-color: white;
  width: 150px;
  height: 50px;
  border-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 1em;
}

.info{
	margin-top: 6%;
	
}
.info h1{
	font-size: 2.2em;
}
.info h3{
	color: #FFFFFF;
	font-size: 1.5em;
	
}
